<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TODO LIST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/my_project/web/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_project/web/todos/create">Add TODO</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template my-4">
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">{{ flash_message }}</div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ flash_message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>

</main><!-- /.container -->

{% block javascripts %}{% endblock %}
</body>
</html>
